menu "user packages " 
config libgpiod-tools  
	 bool "libgpiod-tools"
	 help
	
config gammu  
	 bool "gammu"
	 help
	
config gpio-demo  
	 bool "gpio-demo"
	 help
	
config htop  
	 bool "htop"
	 help
	
config peekpoke  
	 bool "peekpoke"
	 help
	
config picocom  
	 bool "picocom"
	 help
	
config pwm-rgb-led  
	 bool "pwm-rgb-led"
	 help
	
config test-suite  
	 bool "test-suite"
	 help
	
config wilc-firmware-1000-wifi  
	 bool "wilc-firmware-1000-wifi"
	 help
	
config wilc-firmware-3000-ble  
	 bool "wilc-firmware-3000-ble"
	 help
	
config wilc-firmware-3000-wifi  
	 bool "wilc-firmware-3000-wifi"
	 help
	
config wilc-firmware-license  
	 bool "wilc-firmware-license"
	 help
	
endmenu
