
CONFIG_ATH10K_AHB=y
CONFIG_ATH10K_CE=y
# CONFIG_ATH10K_DEBUGFS is not set
# CONFIG_ATH10K_DEBUG is not set
# CONFIG_ATH10K_DFS_CERTIFIED is not set
CONFIG_ATH10K_PCI=y
# CONFIG_ATH10K_SDIO is not set
# CONFIG_ATH10K_USB is not set
CONFIG_ATH10K_USB=y
CONFIG_ATH10K=y
# CONFIG_ATH9K_AHB is not set
CONFIG_ATH9K_AHB=y
CONFIG_ATH9K_BTCOEX_SUPPORT=y
# CONFIG_ATH9K_CHANNEL_CONTEXT is not set
CONFIG_ATH9K_COMMON=y
# CONFIG_ATH9K_DEBUGFS is not set
# CONFIG_ATH9K_DFS_CERTIFIED is not set
# CONFIG_ATH9K_DYNACK is not set
CONFIG_ATH9K_HW=y
# CONFIG_ATH9K_PCI_NO_EEPROM is not set
CONFIG_ATH9K_PCI=y
CONFIG_ATH9K_PCOEM=y
CONFIG_ATH9K_RFKILL=y
# CONFIG_ATH9K_WOW is not set
CONFIG_ATH9K=y
CONFIG_ATH_COMMON=y
CONFIG_CMA_SIZE_MBYTES=100
# CONFIG_CPU_IDLE is not set
CONFIG_CRC_ITU_T=y
CONFIG_EDAC_CORTEX_ARM64=y
CONFIG_PINCTRL_MCP23S08_I2C=y
CONFIG_PINCTRL_MCP23S08_SPI=y
CONFIG_PINCTRL_MCP23S08=y
CONFIG_WILC1000_SPI=y
CONFIG_WILC1000=y
